# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
modules.xml
out/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Generated Plugin Registrant
lib/generated_plugin_registrant.dart

# Android
/android/captures/
/android/local.properties
/android/.gradle/
/android/app/src/main/assets/flutter_assets/

# iOS
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine.podspec
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
/ios/Flutter/podfuncs.rb
/ios/.symlinks/
/ios/Runner/Assets.xcassets/AppIcon.appiconset/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/

# Environment variables
.env

# Old Flutter build paths
/build_bundle/
/build_ios/

# macOS
/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake

# Keep the shared run configuration for Android Studio
!/.idea/runConfigurations/main_dart.xml